@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Cinzel+Decorative:wght@400;700;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --fonts-body: 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, sans-serif;
  --fonts-display: 'Cinzel Decorative', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, sans-serif;
  --fonts-mono: 'Azeret Mono', 'Roboto Mono', Menlo, Consolas, monospace;

  --colors-background: #F5E1DF;
  --colors-text: #0E1627;
  --colors-elevated: #E4C5C2;
  --colors-sunken: #7E6269;
  --colors-highlight: var(--colors-sunken);

}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-background: #0E1627;
    --colors-text: #F5E1DF;
    --colors-elevated: #7E6269;
    --colors-sunken: #E4C5C2;
  }
}

.header-title-avatar {
  margin: 0.5rem;
  margin-right: 1rem;
}

.header-title-name {
  margin: 1rem 0;
  font-size: clamp(1.25rem, 0.2551rem + 5.3061vw, 4.5rem);
}

.header {
  display: block !important;
  margin: 2rem 0;
}

.header-link {
  color: var(--colors-highlight);
}

.header-link:hover {
  color: var(--colors-text);
}

.header-content audio {
  display: none;
}

.header-chart {
  display: none;
}

.posts {
  background: var(--colors-elevated);
  border-radius: .25rem;
}

.post-attachments {
  filter: grayscale(1);
  transition: filter 300ms ease;
}

.post:hover .post-attachments {
  filter: grayscale(0);
}

.post-reaction {
  background: transparent;
  border-style: solid;
  border-color: var(--colors-sunken);
}

.post-reaction img {
  border-radius: 100%;
}

.post-reaction:hover {
  background: transparent;
  border-color: var(--colors-sunken);
}
